body{
    background-color:antiquewhite;
}
h1{
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
}
.form{
    margin: 20px;
}
img{
    height:270px;
}

.card{
  margin: auto;
  margin-top: 20px;
}