<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicians</title>
</head>
<body>
    <title>Musician Holding Slugs</title>
    <nav>
        <a href="http://localhost:4000/">home</a>
        <a href="http://localhost:4000/">artist</a>
        <a href="http://localhost:4000/">new</a>
    </nav>
</body>
</html>